{{ define "main" }}

    <div class="homepage-container">
        <div class="homepage-inner-container">
            <div class="homepage-names"> 
                <div class="homepage-name-top">
                    <h1>x</h1>
                </div>
                <div class="homepage-name-bottom">
                    <h1>y</h1>
                </div>
            </div>
            <div class="homepage-image-container">
                <img class="homepage-image" src="https://res.cloudinary.com/raella/image/upload/v1648563295/Portfolio%20website/hcts-main_wzwb2r.jpg" alt="hcts">
            </div>
        </div>
    </div>

{{ end }}

